@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

:root {
  --primary-color: #1B98E0;  
  --secondary-color: #59c3c3; 
  --text-dark: #333;      
  --text-light: #ebebeb; 
  --primary-font: Arial, Helvetica, sans-serif;
  --secondary-font: "Josefin Sans", sans-serif;
}
header {
  background-color: var(--secondary-color);
  color: var(--text-light);
  padding: 20px;
  text-align: center;
  font-family: var(--secondary-font);
  margin: -8px;
}
header img {
  width: 100px;
  height: 100px;
}
.recipe-card {
  background-color: var(--text-light);
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  display: flex;
}
.recipe-card img {
  width: 100%;
  border-radius: 10px;
}
.recipe-meta {
  padding: 10px;
  font-family: var(--primary-font);
  color: var(--text-dark);
}
footer {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}
.social img {
  width: 40px;
  height: 40px;

}
.attribution {
  text-align: center;
  font-family: var(--primary-font);
  color: var(--text-dark);
}
.description {
  display: block;
}
@media (max-width: 600px) {
  header {
    padding: 10px;
  }
  header img {
    width: 80px;
    height: 80px;
  }
  .recipe-card {
    flex-direction: column;
  }
  footer {
    grid-template-columns: 1fr 1fr;
    text-align: center;
  }
  .description {
    display: none;
  }
  
}