:root {
  --gold: #EFC69B;
  --red: #AF1B3F;
  --dark: #473144;
  --body-font: Helvetica, Arial, sans-serif;
}
header {
    text-align: center;
    font-family: var(--body-font);
    padding: 1rem;
    font-size: 1.3rem;
}
nav {
    justify-content: end;
    justify-items: end;
    border-top: var(--gold) solid 1.5px;
    border-bottom: var(--gold) solid 1.5px;
    
}
ul {
    list-style: none;
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
}
li {
    margin-right: 5rem;
    font-family: var(--body-font);
    font-size: 1.2rem;
}
main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;
    padding: 2rem;
}
.book {
    display: grid;
    grid-template-columns: 1fr 2fr;
   grid-column: 1/2;
}
.book-meta {

    justify-items: end;
    line-height: .5;
    padding-top: 8%;
    padding-right: 1rem;
}

.meta-date {
    font-family: var(--body-font);
    color: var(--dark);
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.book-details {

    font-family: var(--body-font);
    border-left: var(--gold) solid 1.5px;
    padding-left: 1rem;
}
.book-details h2 {
    color: var(--red);
    font-size: 2rem;
}
.filter {
    grid-row: 1 / 2;
    grid-column: 2/3;
    margin: 0.5rem 0;
    border: var(--gold) solid 1.5px;
}
img {
    width: 50%;
    height: auto;
    justify-content: end;
    justify-items: end;
}
a {
    text-decoration: none;
    color: var(--red);
}
a:hover {
    text-decoration: underline;
    color: var(--gold);
}
.skiptocontent a {
    position:absolute;
    top: -100px;   
}
.skiptocontent a:focus {
    top: 0;
}